:root {
  --font: 'Roboto', sans-serif;
  --font-color: #EAEAEA;

  --color-primary: #3C4048;
  --color-secondary: #00ABB3;
  --color-tertiary: #B2B2B2;

}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: var(--font);
}